.container-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 700px;
  padding: 1rem 0rem;
  overflow: hidden;
  flex-direction: row; /* padrão: lado a lado */
  gap: 2rem; /* espaço entre os itens */
}

.container-contacts img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsivo: até 768px (tablet/celular) */
@media (max-width: 768px) {
  .container-contacts {
    flex-direction: column; /* muda para coluna */
    height: auto; /* altura automática */
  }

  .container-contacts img {
    width: 100%;
    height: auto; /* mantém proporção da imagem */
  }
}
