.CardList {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}


@media (max-width: 900px) {
  .CardList {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 600px) {
  .CardList {
    grid-template-columns: 1fr;
  }
}