
header {
  max-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-self: center;
  place-items: center;
}

header div {
  max-width: 100%;
  height: auto;
  height: 100%;
  overflow: hidden;
}


header div img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
