nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  width: 100%;
  max-width: 1330px;
  padding-bottom: 2rem;
  padding-top: 2rem;
  color: #1b33bf;
}

.caixa-logo {
  display: flex;
  width: fit-content;
  text-align: left;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main-menu {
  display: flex;
  width: fit-content;
  text-align: left;
}

.main-menu ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu li a {
  color: #1b33bf;
  transition: color 0.2s ease, transform 0.2s ease;
}

.main-menu li a:hover {
  color: #9F9F9F;
  transform: scale(1.05); /* aumenta levemente o tamanho */
}